<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082078999241-bqpehgevr2up6u3ecsn3chml8nllrqgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082078999241-bqpehgevr2up6u3ecsn3chml8nllrqgl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082078999241-nluebl9i96qhbll09gr4d0g40sn2sf3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwPLeazmk-aKTnO3eJBTJqt2QeDiD2XWE</string>
	<key>GCM_SENDER_ID</key>
	<string>1082078999241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPageUi</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-first-99c40</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-first-99c40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082078999241:ios:ffb0139f3254a544bad318</string>
</dict>
</plist>